@charset "UTF-8";

/*───────────────────────────────────────────────────────────
    Variables
───────────────────────────────────────────────────────────*/
/* color */
$cr-main: #e51b13;
$cr-sub: #888;
$bd-main: #f1f1f1;
$bd-sub: #e6e6ea;
$bg-main: #f9f9f9;
/* font */
$f-400: 400;
$f-600: 600;
/* width */
$w-100:100%;
/* padding & margin */
$pd-16: 0 16px;
$mg-t8: 8px 0 0;
/* image url */
$url: "/src/assets/images/" !global;